<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> -->
    <div *ngIf="addUser" class="addUser">
        <h3>Fill Personal Details</h3><br>

        <mat-form-field class="example-full-width">
            <input matInput  placeholder="Name" name="user" [(ngModel)]="data.user.name" required> 
        </mat-form-field><br>
        
        
        <mat-form-field class="example-full-width">           
            <input matInput placeholder="Mobile" name="mobl" [(ngModel)]="data.user.mobile" pattern="[789][0-9]{9}" required>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>User Type</mat-label>
            <mat-select   name = 'userType'
            required [(ngModel)]="data.user.userType">
              <mat-option *ngFor="let ut of userTypes"
              [value]="ut">
                {{ut}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <!-- <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div> --><br><br>
        
        <button #submit mat-raised-button class="btn btn-warning" [mat-dialog-close]="data.user" >Submit</button>
 
    </div>
<!-- </form> -->

    