<!-- <router-outlet></router-outlet> -->
<mat-toolbar color="primary">  
    <h1 style="color: white;">  
      {{sharedService.config.getConfig('applicationTitle')}}   
    </h1>  
    <span class="example-spacer"></span>
    <button mat-button routerLink="/" matTooltip="Home">
      <mat-icon>home</mat-icon>
    </button>  
   </mat-toolbar>
  <router-outlet></router-outlet>
  