<h1>Angular 9 File Upload Tutorial Example - ItSolutionStuff.com</h1>

       

<form [formGroup]="myForm" (ngSubmit)="submit()">

  

    <div class="form-group">

        <label for="name">Name</label>

        <input 

            formControlName="name"

            id="name" 

            type="text" 

            class="form-control">

        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">

            <div *ngIf="f.name.errors.required">Name is required.</div>

            <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>

        </div>

    </div>

      

    <div class="form-group">

        <label for="file">File</label>

        <input 

            formControlName="file"

            id="file" 

            type="file" 

            class="form-control"

            (change)="onFileChange($event)">

        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">

            <div *ngIf="f.file.errors.required">File is required.</div>

        </div>

    </div>

          

    <button class="btn btn-primary" type="submit">Submit</button>

</form>