html{
  margin: 20px;
  height: 100%; 
  
}
.mainDiv{
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.imag{
    height: 100px;
    width: 100%;
    
}
.container {
  max-width: 100%;
  margin: 0px auto;
  margin-top: 50px;
}
.textinput {
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  border: 1px solid grey;
}
  
.hero-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  .option-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  .option-radio-button {
    margin: 6px;
  } 
  .example-full-width{
    width: 100%;
  }