<html>
<div class="">

  <div class="row">
    <div class="col-6">
      <!-- <h3>health Application</h3>  -->
    </div><br><br>
  </div>

  <div class="imag">
    <img class="resize" src="assets/lokmanya.png" alt="">
  </div>


  <div id="health">
    <h1 class="text-center font-weight-Bold">Forever Healthy</h1>
    <hr />
   

    <form #f="ngForm">
    <div *ngIf="mode=='health' && health">
      <div *ngFor="let question of filteredQuestions;">

        <div *ngIf="question.photoSource" class="centerText">
          <img style="width: 100px;" [src]="question.photoSource" [alt]="question.photoSource">
       </div>
          <h1 class="font-weight-normal">{{pager.index + 1}}.
            <span [innerHTML]="question.question1"></span>
            <span *ngIf="question.isRequired" style="color: tomato;">*</span>
          </h1><br>
            
          <div *ngIf="question.answertype == 'User Input'">
            <label class="">
              <mat-form-field class="example-full-width">
                <mat-label>{{question.label}}</mat-label>
                <input
                #inputText
                [(ngModel)]="question.userAns"
                name="Text"
                [type]="question.inputType"
                [required]="question.isRequired"
                [placeholder]="question.placeholder"
                [pattern]="question.pattern"
                [value]="question.defaultValue"
                matInput>

              </mat-form-field><br>
            </label>
          </div>

          <div class="row text-left options">

            <div class="col-12" *ngFor="let option of question.options">
              <div *ngIf="question.answertype == 'Checkbox'">
                <label class="round" [attr.for]="option.questionOptionId">
                  <input #check id="{{option.questionOptionId}}" type="checkbox" name="selectedCheck" 
                  [required]="question.isRequired"
                    [(ngModel)]="option.selected" (change)="onSelect(question, option);" /> {{option.answeroption}}
                  <!-- (change)="onSelect(question, option);" -->
                </label>
              </div>
            </div>


            <div *ngIf="question.answertype == 'File'">
              <ng-container>
                <input type="file" id="file" multiple (change)="getFileDetails($event,question)"
                [required]="question.isRequired"
                ><br><br>
              </ng-container>
            </div>

            <div *ngIf="question.answertype == 'Radio'" class="col-12">
              <mat-radio-group name="language" class="option-radio-group" 
              [required]="question.isRequired"
              [(ngModel)]="question.userAns">
                <mat-radio-button #radi class="option-radio-group" *ngFor="let option of question.options"
                  [value]="option.answeroption"
                  (change)="question.score = option.score; question.optionId = option.questionOptionId ">
                  {{option.answeroption}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>
       

        <hr />
        <div class="text-center">
          <!-- <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button> -->
          <button
          class="btn btn-default" *ngIf="config.allowBack && pager.index!=0" (click)="goTo(pager.index - 1);">Previous</button>
          <button *ngIf="!(pager.index + 1 == pager.count)" class="btn btn-primary" [disabled]="!f.valid"
            (click)="goTo(pager.index + 1);">Next</button>
        </div>
      </div>
    </div>

    <div class="row text-center" *ngIf="mode=='review'">
      <div class="col-4 cursor-pointer" *ngFor="let question of health.questions; let index = index;">
        <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Answered'? 'bg-info': 'bg-warning' }}">
          {{index + 1}}. {{ isAnswered(question) }}</div>
      </div>
    </div>
    <hr />


  </form>
    <div *ngIf="pager.index + 1 == pager.count && !nextAct" class="text-center">
      <button class="btn btn-info" (click)="onSubmit();" [disabled]="!f.valid">Submit</button>
    </div>
  </div>

  <div *ngIf="nextAct" class="text-center">
    <!-- <label for="">temp</label> -->
    <button mat-raised-button class="btn btn-warning" (click)="backToHome();">Back Home</button>
    <!-- <button  mat-raised-button class="btn btn-info" (click)="nextAction();" >Next Action</button> -->
  </div>


</div>

</html>