<body>

    <div class="imag">
        <img class="resize" src="assets/sahyadri.png" alt="">
             
    <h1 class="text-center font-weight-Bold">Forever Healthy</h1>
    <hr />
</div>
    

<div class="text-center">
    <h2 class="row justify-content-center align-items-center">{{actionMessage}}</h2>
    <br>
    <button  mat-raised-button class="btn" (click)="onClick()" >Click to answer</button>
    
</div><br>

</body>

