<body>
       
  
    <div class="imag">
        <img class="resize" src="assets/lokmanya.png" alt="">
      </div>
      <h1 class="text-center font-weight-Bold">Forever Healthy</h1>         

    <div class="text-center">
        <h2 class="row justify-content-center align-items-center">{{actionMessage}}</h2>
        
        
        
    </div><br>
    
    </body>
    
    