<body>
       
    <div class="imag">
        <img class="resize" src="assets/Healthy.jpg" alt="">
    </div>
    

<div class="text-center">
    <h1 class="row justify-content-center align-items-center">{{message}}</h1>

    <mat-form-field style="margin: 5px;">
        <mat-label>Condition</mat-label>
        <mat-select [(ngModel)]="condition" name ="condition" required>
          <mat-option *ngFor="let condition of conditions" [value]="condition.conditionId">
            {{condition.condition1}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    <button  mat-raised-button class="btn" (click)="onClick()" style="margin-left: 10px;" >Check here</button>
    
</div><br>

</body>

