.text-center{
    color: green;
    font-weight: bold;
    /* height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; */
}
.links{
    text-align: center;
    margin-bottom: auto;
}
.link{
    font-size: 12px;
}
body{
margin: 20PX;
}
img.resize {
    width:250px;
    height:350px;
}
.imag {
    text-align: center;
}
.btn{
    background-color: aquamarine
}
.icon{
    height: 25px;
    width: 25px;
}